<form class="max-w-lg mx-auto pt-6">
    <div class="relative">
        <input type="search" id="default-search"
               name="song"
               value="{{ search_field|default_if_none:''}}"
               class="block w-full p-4 text-sm font-bold text-white border bg-zinc-800 border-gray-500 rounded-lg bg-gray-50 focus:ring-green-500 focus:border-green-500"
               placeholder="O que você procura?"/>
        <button type="submit"
                class="text-white absolute end-2.5 bottom-2.5 bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
            <svg class="w-5 h-5 text-white dark:text-white-400" aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
        </button>
    </div>
</form>