<a href="{% url 'index' pk=song.id %}">
    <div class="relative m-2 w-48 bg-zinc-900 dark:bg-gray-800 dark:border-gray-700 transition-transform duration-300 transform hover:scale-110 peer">
        {% if song.artist.image_path == None %}
            <img class="h-64 object-cover" src="https://placehold.co/300x300" alt=""/>
        {% else %}
            <img class="h-64 object-cover" src="{{ song.artist.image_path }}" alt=""/>
        {% endif %}
        <div class="absolute fixed inset-0 flex flex-col items-start justify-end p-4 bg-gradient-to-t from-black via-transparent to-transparent">
            <div class="text-white text-sm font-semibold">{{ song.title }}</div>
            <div class="text-white text-sm">{{ song.artist.name }}</div>
        </div>
    </div>
</a>