<div class="relative m-2 w-48 bg-zinc-900 border border-gray-900 dark:bg-gray-800 dark:border-gray-700  transition-transform duration-300 transform hover:scale-110 peer">
    <a href="#">
        {% if artist.image_path is None %}
            <img class="h-64 object-cover" src="https://placehold.co/300x300" alt=""/>
        {% else %}
            <img class="h-64 object-cover" src="{{ artist.image_path }}" alt=""/>
        {% endif %}
    </a>
    <div class="absolute inset-0 flex flex-col items-start justify-end bg-gradient-to-t from-black via-transparent to-transparent p-4">
        <div class="text-white text-sm font-bold">{{ artist.name }}</div>
    </div>
</div>