{% extends "home.html" %}
{% load static %}
{% block container %}


    <div class="space-y-8">
        <div class="sm:flex sm:items-left sm:justify-between">
            <h2 class="text-xl text-white dark:text-white sm:text-2xl">Novidades</h2>
        </div>
        <section class="bg-zinc-900 dark:bg-gray-900 flex flex-wrap justify-center">
            {% for song in random_songs %}
                {% include 'songs/partials/_card_song.html' %}
            {% endfor %}
        </section>
        <!--
        <div class="sm:flex sm:items-left sm:justify-between">
            <h2 class="text-xl text-gray-500 dark:text-white sm:text-2xl">Artistas</h2>
        </div>
        <section class="bg-zinc-900 dark:bg-gray-900 flex flex-wrap justify-center">
            {% for artist in artists %}
                {% include 'songs/partials/_card_artist.html' %}
            {% endfor %}
        </section>
        -->

        <div class="sm:flex sm:items-left sm:justify-between">
            <h2 class="text-xl text-white dark:text-white sm:text-2xl">Músicas</h2>
        </div>
        <section class="bg-zinc-900 dark:bg-gray-900 flex flex-wrap justify-center">
            {% for song in songs %}
                {% include 'songs/partials/_card_song.html' %}
            {% endfor %}
        </section>
    </div>

{% endblock container %}
